html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    color: #000;
}

h1,
h2 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.suffix {
    margin: 0 16px;
}

.mdc-button.btn-primary {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

.mdc-button.btn-primary i {
    margin-right: 8px;
}
